<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置详情： http://blog.csdn.net/abccyz/article/details/27080305 -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">  
        <property name="config">  
            <bean class="com.google.code.kaptcha.util.Config">  
                <constructor-arg>  
                    <props>  
                        <!-- <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop> -->
                        <prop key="kaptcha.border">no</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <!-- <prop key="kaptcha.textproducer.font.color">5,125,154</prop> -->
                        <prop key="kaptcha.image.width">80</prop>
                        <prop key="kaptcha.textproducer.font.size">28</prop>
                        <prop key="kaptcha.image.height">35</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
                        <!-- <prop key="kaptcha.obscurificator.impl">com.sdcloud.web.lar.util.kaptcha.NoWater</prop> -->
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.WaterRipple</prop>
                    	<!-- <prop key="kaptcha.textproducer.char.string">123456789abcdefghijklmnpqrstuvwxyz</prop> -->
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <!-- <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop> -->
                        <prop key="kaptcha.textproducer.font.names">Arial,宋体,楷体,微软雅黑</prop>
                        <prop key="kaptcha.textproducer.char.space">3</prop>
                    </props>  
                </constructor-arg>  
            </bean>  
        </property>  
    </bean>
    
</beans>
