<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置mybatis的设置 -->
	<settings>
		<!-- 映射对象属性到数据库，格式可以为经典 Java 属性名lastName自动映射到经典数据库名last_name -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
</configuration>